spacy==3.8.15
pymorphy3==2.0.6
pymorphy3-dicts-uk==2.4.1.1.1663094765
pandas==2.2.3
matplotlib==3.10.9
jupyterlab

# моделі української мови (ставляться окремо, не через pip з PyPI):
# python -m spacy download uk_core_news_sm
# python -m spacy download uk_core_news_md
# python -m spacy download uk_core_news_lg
